body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
  /*font-size: 16px;*/
}
li {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400; /*or 300*/
	letter-spacing: 1px;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 8px;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #333;
	text-decoration: none;
}
a:active {
	color: #333;
}
a:visited {
	color: #333;
}

.navbar img {
	float: left;
}
.navbar .logo {
  position: relative;
  bottom: -3px;
  margin-right: 5px;
}
.navbar .logo img {
  height: 55px;
  width: 121px;
}
.navbar ul {
	padding-top: 19px;
}
.navbar li {
	font-family: 'Oswald', sans-serif;
	font-weight: 300; /*or 300*/
	letter-spacing: 1px;
  font-size: 23px;
}
.hr-title {
	border-bottom: 1px solid #eee;
	margin: 0 0 40px;
	width: 60%;
}
.hr-title-contact {
  border-bottom: 1px solid #eee;
  margin: 0 0 40px;
  width: 80%;
}
.navbar {
	background-color: #fff;
	border-bottom: 1px solid #EB7F00;
}
main {
	margin-top: 80px;
}
.project-row {
	margin-bottom: 40px;
}
.project-row img {
	margin-bottom: 20px;
  width: 80%;
}
.project-row .project a:hover h3 {
  border-bottom: 1px solid #EB7F00;
  padding-bottom: 5px;
  /*width: 100%;*/
}

.project-title {
	padding-bottom: 6px;
}
.project-row a {

}
ul.list-inline {
	font-size: 20px;
}
.footer-row {
	background-color: #EB7F00;
	text-align: center;
	padding-top: 1%;
	margin-top: 80px;
}
.center-div {
	margin: 0 auto;
	float: none;
}
.project-txt span {
	font-weight: 700;
}
.project-img {
	width: 100%;
}
main {
  margin-top: 70px;
}
.web h2 {
  margin-top: 0;
}
.project-txt h4 {
	margin-top: 0;
}
.button-container {
	margin: 0 16px 0;
  clear: both;
}
.button-container .next {
	float: right;
	display: inline-block;
  font-size: 40px;
}
.button-container .prev {
	display: inline-block;
  font-size: 40px;
}
.social .fa {
  font-size: 30px;
  color: #EB7F00;
}
span.fa {
  margin-right: 10px;
}
span.fa-phone {
  font-size: 24px;
  position: relative;
  top: 4px;
}
span.fa-envelope {
  font-size: 18px;
}
.bio {
  margin-bottom: 40px;
}
.contact-form input {
  margin-bottom: 15px;
  width: 300px;
  height: 27px;
}
textarea {
  resize: none;
  margin-bottom: 10px;
  width: 75%;
  border: 1px solid #ccc;
}

.main-contact {
  margin-top: 40px;
}
.hero-image-contact {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}
.hero-image-contact img {
  position: relative;
  top: -228px;
  width: 100%;
}
.project-row .img-container {
  text-align: center;
}
.project-row .img-container img {
  float: none;
}
header {
  height: 91px;
}












/*RESPONSIVE SLIDER CSS*/
.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 15px;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 44px;
  opacity: 1.0;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../../img/general/arrows2.png") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 44px;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
.rslides_container .centered-btns_nav {
  display: none;
}
.proj-img-container .rslides_container:hover > a.prev {
  display: inline-block !important;
}
.proj-img-container .rslides_container:hover > a.next {
  display: inline-block !important;
}














/*MEDIA QUERIES*/
@media (max-width: 890px) {
  
  .navbar-fixed-top {
    display: none;
  }
  .navbar-sml-container {
    display: block !important;
    background-color: #fff;
    border-bottom: 1px solid #EB7F00;
    height: 60px;
  }
  .navbar-sml-container a.logo {
    position: absolute;
    margin: 4px 0 0 10px;
  }
  .navbar-sml-container a.logo img {
    height: 50px;
    width: 110px;
  }
  .btn-nav {
    width: 60px;
    height: 50px;
    color: #fff;
    background-color: #fff;
    font-size: 40px;
    float: right;
    outline: none;
    z-index: 5;
    position: absolute;
    right: 0;
    border: none;
    margin-top: 5px;
  }
  .fa-bars {
    color: #333;
  }
  .fa-bars-active {
    color: #EB7F00;
  }
  .navbar-sml {
    background-color: #fff;
    height: 100%;
    border-left: 1px solid #eee;
    z-index: 4;
    position: absolute;
    right: 0;
    width: 50%;
    padding: 15px;
  }
  .move {
    display: block !important;
    padding: 0;
  }
  ul.navbar-slide-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.navbar-slide-links li {
    margin-bottom: 13px;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
  }
  ul.navbar-slide-links li a {
    font-size: 25px;
  }
  ul.navbar-slide-links li {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 25px;
  }
  .main-contact {
    margin-top: 0px;
  }
  main {
    margin-top: 50px;
  }
  .form {
    margin-bottom: 75px;
  }
  .hero-image-contact {
    margin-bottom: 0px;
  }

  /* PORTFOLIO PAGE */
  .project-main {
    margin-top: 0;
  }
  .project-row .project a:hover > h3 {
    width: 60%;
  }
  .project-row {
    margin-bottom: 0;
  }
  .project-row .project {
    margin-bottom: 100px;
  }

/*@media (max-width: 640px) {

}*/















