<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Sheonna Von Harris</title>
	<link rel="shortcut icon" href="img/svh-favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/all.css">
</head>
<body ng-app="myApp" ng-cloak class="ng-cloak">

	<!--NAVIGATION ROW-->
	<header id="top" class="header" ng-controller="HeaderCtrl">
		<nav class="navbar">
			<div class="navbar--logo">
				<a href="#/portfolio" class="navbaritem--link">
					<img src="../img/svh-logo.png" class="logo-img" alt="Sheonna Von Harris logo">
					<p class="logo-subtext">Sheonna Von Harris</p>
				</a>
			</div>
			<div class="navbar--mobilenav">
				<button type="button" class="mobilenav-item fa fa-bars js-mobilenav"></button style="display: none;">
			</div>
			<ul class="navbar--list js-navlist">
				<li class="navbaritem" ng-repeat="navlink in navlinks">
					<a href="#/{{navlink.http}}" class="navbaritem--link navbaritem--link__mobile">{{navlink.name}}</a>
				</li>
			</ul>
		</nav>
	</header>




	<!--MAIN PROJECT-->
	<main class="main" ng-view autoscroll="true">
		
		<section class="contact--section contact--section__form">
			<h3 class="contact--header contact--header__form">MESSAGE ME</h3>
			<form action="/talktome" method="POST" class="contactform--list">
				<input type="hidden" name="recipient" value="hello@svharris.com">
				<label class="contactform--field" for="name">
					<span class="contact-field--item contact-field--item__name">Name:</span>
					<input class="contact-field--item contact-field--item__input" type="text" id="name" name="name" placeholder="Name">
					<div class="js-errormsg formfields-item-errormsg"><%=@firstn%></div>
				</label>
				<label class="contactform--field" for="email">
					<span class="contact-field--item contact-field--item__email">Email:</span>
					<input class="contact-field--item contact-field--item__input" type="email" id="email" name="email" placeholder="Email">
					<div class="js-errormsg formfields-item-errormsg"><%=@firstn%></div>
				</label>
				<label class="contactform--field" for="subject">
					<span class="contact-field--item contact-field--item__subject">Subject:</span>
					<input class="contact-field--item contact-field--item__input" type="textfield" id="subject" name="subject" placeholder="Subject">
				</label>
				<label class="contactform--field" for="message">
					<span class="contact-field--item contact-field--item__message">Message:</span>
					<textarea class="contact-field--item contact-field--item__textarea" id="message" name="message" placeholder="Message"></textarea>
				</label>
				<button class="contactform--field-btn" type="submit">Submit</button>
				<input type="hidden" name="thankyou">
			</form>
		</section>

		<section class="contact--section contact--section__about">
			<h3 class="contact--header contact--header__
			about">CONTACT ME</h3>
			<div class="contact--bio">
				<p class="contact--bio-text">Hello! Thanks for visiting my portfolio website. Please get in touch with me if you want to discuss career opportunities, freelance gigs or if you just want to say "Hi".</p>
			</div>
			<div class="contact--links">
				<ul class="contactlinks-list">
					<li class="contactlinks-list--item">
						<a class="contactlinks-item-link" href="tel:14074541721">
							<span class="contactlinks-item-icon fa fa-phone"></span>
							(407) 454-1721</a>
					</li>
					<li class="contactlinks-list--item">
						<a class="contactlinks-item-link" href="mailto:svonharris@gmail.com">
							<span class="contactlinks-item-icon fa fa-envelope"></span>
							svonharris@gmail.com
						</a>
					</li>
				</ul>
			</div>
		</section>

	</main>
	



	<!--BACK TO TOP BUTTON-->
	<a href="#top" class="backtotop fa fa-chevron-circle-up js-backtotop"></a>

	<footer class="footer" ng-controller="FooterCtrl">
		<ul class="footer-social">
			<li class="footer-social--item" ng-repeat="smedia in smedias">
				<a class="footer-social--item--link fa fa-{{smedia.name}}" href="http://{{smedia.http}}" target="_blank"></a>
			</li>
		</ul>
		<p class="footer-copyright">
			<span>Sheonna Von Harris | Copyright 2017</span>
		</p>
	</footer>






<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/function.js"></script>
</body>
</html>