<div class="blog" ng-controller="BlogCtrl">
	<h2 class="blog-header">Blog Posts</h2>
	<ul class="blog-list">
		<li class="blog-list--item" ng-repeat="entry in entries">
			<a class="blog-item-link" href="#/blog/{{entry.link}}">
				<img class="blog-link-photo" src="/img/posts/{{entry.image}}" ng-hide="!entry.image">
				<p class="blog-link-date">{{entry.date | date : 'MMM d, y'}}</p>
				<h3 class="blog-link-title item-title">{{entry.title}}</h3>
				<p id="js-blogsnippet" class="blog-link-snippet">
					{{entry.shortenedPost}}
					<a class="blog-link-more" href="#/blog/{{entry.link}}">Read More</a>
				</p>
			</a>
			<hr class="blog-item-break">
		</li>
	</ul>
</div>