<div class="container-fluid" ng-controller="PortfolioCtrl">

	<div class="container-fluid" ng-controller="PortfolioCtrl">
		<div class="project-row {{project.category}}" ng-repeat="project in allProjects">
			<h2 class="project-header">{{project.category}}</h2>
			<hr class="hr-title">
			<ul>
				<li class="project" ng-repeat="content in project.contents">
				<!-- content in project[index].contents -->
					<a href="#/projects/{{content.link}}">
						<div class="img-container">
							<img src="/img/{{content.thumbnail}}" alt="{{content.alttext}}">
						</div>
						<h3 class="project-title">{{content.title}}</h3>
						<p>{{content.description}}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

		<!-- <div class="project-row mobile">
		<h2>Mobile</h2>
		<hr class="hr-title">
		<ul>
			<li class="project" ng-repeat="mobile in mobiles">
				<a href="#/projects/{{mobile.link}}">
					<div class="img-container">
						<img src="/img/{{mobile.thumbnail}}" alt="{{mobile.alttext}}">
					</div>
					<h3 class="project-title">{{mobile.title}}</h3>
					<p>{{mobile.description}}</p>
				</a>
			</li>
		</ul>
	</div>
 -->

</div>
