<a href="#/portfolio" class="backbtn">
	<span class="backbtn-icon fa fa-arrow-left"></span>
	<span class="backbtn-text">back to portfolio</span>
</a>

<div class="project-main">
	<h4>{{projectDetails.title}}</h4>
	<!--PROJECT IMAGE SLIDER-->
	<div class="proj-img-container col-sm-9">
		<div class="flexslider">
			<ul class="slides">
			  <li class="" ng-repeat="photo in projectDetails.photos">
			  	<img src="/img/projects/{{photo.name}}" alt="{{photo.alttext}}">
			  </li>
			</ul>
		</div>
	</div>

	<!--PROJECT BIO-->
	<div class="project-txt-container project-txt col-sm-3">
		<h4>{{projectDetails.title}}</h4>
		<ul>
			<li>
				<span>Company:</span><br>
				{{projectDetails.company}}
			</li>
			<li> <!-- remove? -->
				<span>Status:</span><br>
				{{projectDetails.status}}
			</li>
			<li>
				<span>Objective:</span><br>
				{{projectDetails.objective}}
			</li>
			<li ng-hide="!projectDetails.repo">
				<span>Repo Link:</span><br>
				{{projectDetails.repo}}
			</li>
			<li>
				<span>Year:</span><br>
				{{projectDetails.year}}
			</li>
			<li>
				<span>Tools:</span><br>
				{{projectDetails.tools}}
			</li>
		</ul>
	</div>
</div>