<div class="project-main" ng-controller="ProjectCtrl">
	<h4>{{projectDetails.title}}</h4>
	<!--PROJECT IMAGE SLIDER-->
	<div class="proj-img-container col-sm-9">
		<div class="flexslider">
			<ul class="slides">
			  <li class="centered-btns1_s0" ng-repeat="img in imgs">
			  	<img src="/img/{{img.name}}" alt="{{img.alttext}}">
			  </li>
			</ul>
		</div>
	</div>

	<!--PROJECT BIO-->
	<div class="project-txt-container project-txt col-sm-3">
		<h4>{{projectDetails.title}}</h4>
		<ul>
			<li>
				<span>Company:</span><br>
				{{projectDetails.company}}
			</li>
			<li>
				<span>Status:</span><br>
				{{projectDetails.status}}
			</li>
			<li>
				<span>Objective:</span><br>
				{{projectDetails.objective}}
			</li>
			<li>
				<span>Year:</span><br>
				{{projectDetails.year}}
			</li>
			<li>
				<span>Tools:</span><br>
				{{projectDetails.tools}}
			</li>
		</ul>
	</div>
</div>