<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Sheonna Von Harris: </title> 
	<link rel="shortcut icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>

	<div id="top" class="">
		<!--NAVIGATION ROW-->
		<header class="navbar">
				<nav class="navbar-nav">
					<div class="logo">
						<a href="#/portfolio">
							<img src="../img/{{}}.png" class="logo-img" alt="Sheonna Von Harris logo">
							<p class="logo-subtext">Sheonna Von Harris</p>
						</a>
					</div>
					<ul class="navbar-nav-list">
						<li class="navbaritem">
							<a href="#/portfolio" class="navbaritem-link">Portfolio</a>
						</li>
						<li class="navbaritem">
							<a href="#/resume" class="navbaritem-link">Resume</a>
						</li>
						<li class="navbaritem">
							<a href="http://blog.svharris.com" class="navbaritem-link">Blog</a>
						</li>
						<li class="navbaritem">
							<a href="#/contact" class="navbaritem-link">Contact</a>
						</li>
					</ul>
					<div class="navbar-nav-mobile">
						<div class="moblebtn">
							<button type="button" class="fa fa-bars mobilebtn-btn js-btn-nav"></button>
						</div>
					</div>
				</nav>
				<!--MOBILE NAVIAGTION-->
				<div class="mobilenav js-navbar-sml">
					<ul class="mobilenav-links">
						<li class="navbaritem">
							<a href="#/portfolio" class="navbaritem-link">Portfolio</a>
						</li>
						<li class="navbaritem">
							<a href="#/resume" class="navbaritem-link">Resume</a>
						</li>
						<li class="navbaritem">
							<a href="http://blog.svharris.com" class="navbaritem-link">Blog</a>
						</li>
						<li class="navbaritem">
							<a href="#/contact" class="navbaritem-link">Contact</a>
						</li>
					</ul>
				</div>
		</header>




		<!--MAIN PROJECT-->
		<main class="main" ng-view></main>
		




		<!--BACK TO TOP BUTTON-->
		<a href="#top" class="btn-up fa fa-chevron-circle-up" style="display: none;"></a>

		<footer class="row footer-row">
			<div class="center-div col-sm-6">
				<div class="footer-social">
					<a class="fa fa-github" href="http://github.com/shesh87" target="_blank"></a>
					<a class="fa fa-linkedin" href="http://www.linkedin.com/pub/sheonna-von-harris/5a/9a6/76b" target="_blank"></a>
					<a class="fa fa-twitter" href="http://twitter.com/shevonharris" target="_blank"></a>
					<a class="fa fa-facebook" href="http://www.facebook.com/Sheonnavonharris" target="_blank"></a>
					<a class="fa fa-pinterest" href="http://www.pinterest.com/svonharris/" target="_blank"></a>
				</div>
				<p><a href="http://facebook.com/sheonnavonharris">Sheonna Von Harris | Copyright 2015</a></p>
			</div>
		</footer>

	</div>












<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider').flexslider({
	    animation: "slide"
	  });
	});
</script>
<script src="scripts/function.js"></script>
</body>
</html>