<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Sheonna Von Harris: </title> 
	<link rel="shortcut icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>

	<!--NAVIGATION ROW-->
	<header id="top" class="navbar" ng-controller="HeaderCtrl">
		<nav class="navbar-nav">
			<div class="logo">
				<a href="#/portfolio">
					<img src="../img/{{}}.png" class="logo-img" alt="Sheonna Von Harris logo">
					<p class="logo-subtext">Sheonna Von Harris</p>
				</a>
			</div>
			<button type="button" class="mobilenav fa fa-bars js-mobilenav"></button style="display: none;">
			<ul class="navbar-nav-list js-navlist">
				<li class="navbaritem" ng-repeat="navlink in navlinks">
					<a href="#/{{navlink.http}}" class="navbaritem-link">{{navlink.name}}</a>
				</li>
			</ul>
		</nav>
		<!-- <nav class="navbar-nav">
			<div class="logo">
				<a href="#/portfolio">
					<img src="../img/{{}}.png" class="logo-img" alt="Sheonna Von Harris logo">
					<p class="logo-subtext">Sheonna Von Harris</p>
				</a>
			</div>
			<button type="button" class="mobilenav fa fa-bars js-mobilenav"></button style="display: none;">
			<ul class="navbar-nav-list js-navlist">
				<li class="navbaritem" ng-repeat="navlink in navlinks">
					<a href="#/{{navlink.http}}" class="navbaritem-link {{navlink.name}}">
						<div class="navbaritem-link-roll">
							<span class="rollitem">{{navlink.name}}</span>
							<span class="rollitem">{{navlink.name}}</span>
						</div>
						<div class="bottom-line"></div>
					</a>
				</li>
			</ul>
		</nav> -->
	</header>




	<!--MAIN PROJECT-->
	<main class="main" ng-view></main>
	



	<!--BACK TO TOP BUTTON-->
	<a href="#top" class="backtotop fa fa-chevron-circle-up js-backtotop"></a>

	<footer class="footer" ng-controller="FooterCtrl">
		<ul class="footer-social">
			<li class="footer-social-item" ng-repeat="smedia in smedias">
				<a class="fa fa-{{smedia.name}}" href="http://{{smedia.http}}" target="_blank"></a>
			</li>
		</ul>
		<p class="footer-copyright">
			<span>Sheonna Von Harris | Copyright 2017</span>
		</p>
	</footer>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "slide"
		});
	});
</script>
<script src="scripts/function.js"></script>
</body>
</html>