<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Sheonna Von Harris</title>
	<link rel="shortcut icon" href="img/svh-favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/general/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/all.css">
</head>
<body>

	<header id="top" class="header" ng-controller="HeaderCtrl">
		<nav class="navbar">
			<div class="navbar--logo">
				<a href="#/portfolio" class="navbaritem--link">
					<img src="../img/svh-logo.png" class="logo-img" alt="Sheonna Von Harris logo">
					<p class="logo-subtext">Sheonna Von Harris</p>
				</a>
			</div>
		</nav>
	</header>




		<!--MAIN PROJECT-->
	<main class="main" ng-view autoscroll="true">

		<section class="contact--section contact--section__form">
			<h3 class="contact--header contact--header__response">MESSAGE ME</h3>
			<p class="contact--content">Thanks for writing!<br>You will receive a response from me within 24-48 hours.</p>
		</section>

		<section class="contact--section contact--section__about">
			<h3 class="contact--header contact--header__
			about">CONTACT ME</h3>
			<div class="contact--bio">
				<p class="contact--bio-text">Hello! Thanks for visiting my portfolio website. Please get in touch with me if you want to discuss career opportunities, freelance gigs or if you just want to say "Hi".</p>
			</div>
			<div class="contact--links">
				<ul class="contactlinks-list">
					<li class="contactlinks-list--item">
						<a class="contactlinks-item-link" href="tel:14074541721">
							<span class="contactlinks-item-icon fa fa-phone"></span>
							(407) 454-1721</a>
					</li>
					<li class="contactlinks-list--item">
						<a class="contactlinks-item-link" href="mailto:svonharris@gmail.com">
							<span class="contactlinks-item-icon fa fa-envelope"></span>
							svonharris@gmail.com
						</a>
					</li>
				</ul>
			</div>
		</section>

	</main>

</body>
</html>
